In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('wine_dataset.csv')

__1. Display the first seven rows of dataset.__
<br>(1 points)

In [83]:
data.head(7)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7

__2. Find the number of entries and attributes in given dataset.__
<br>(1 point)

In [12]:
print("No. of entries:", len(data.index))
print("No. of entries:", len(data.columns))

No. of entries: 1599
No. of entries: 12

__3. Find the number of empty elements in dataset and eliminate them using any appropriate method. Also explain the reason behind using that method.__
<br>(2 points)

In [14]:
data.isnull().sum()

fixed acidity           1
volatile acidity        1
citric acid             0
residual sugar          0
chlorides               1
free sulfur dioxide     2
total sulfur dioxide    0
density                 0
pH                      0
sulphates               2
alcohol                 0
quality                 0
dtype: int64

In [17]:
#Since the number of empty elements is less compared to total number of entries, the entries with empty elements can be deleted.
data = data.dropna()

In [18]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

__4. Find the number of duplicate elements in a dataset and eliminate them.__
<br>(2 points)

In [20]:
data.duplicated().sum()

236

In [22]:
data = data.drop_duplicates()

In [23]:
data.duplicated().sum()

0

__5. Find the number of occurances of each value in the attribute "quality".__
<br>(1 point)

In [28]:
(data[data.columns[-1]]).value_counts()

5    575
6    534
7    167
4     53
8     17
3     10
Name: quality, dtype: int64

__6. Find the maximum element in first column and the row number in which it occurs.__
<br>(1 point)

In [32]:
print("Max value in 1st colums:",(data[data.columns[0]]).max())
print("Max value row number:",(data[data.columns[0]]).idxmax())

Max value in 1st colums: 15.9
Max value row number: 652

__7. Create a new data frame "data_mod" with the last four columns and the column 'chlorides'  from "data". Also "data_new" should consist only of the last 500 rows from "data".__
<br>(2 points)

In [53]:
l = data.columns
ind = [l[4]]
ind.extend(l[-1:-5:-1][::-1])
data_new = data[ind]

In [54]:
data_new = data_new.iloc[-1:-501:-1]

__8. Find the number of rows with 'volatile acidity' in the range 0.3 to 0.5 and free sulfur dioxide' less than 9.__
<br>(2 point)

In [73]:
len((data.loc[(data['volatile acidity']>0.3) & (data['free sulfur dioxide'] < 9) &(data['volatile acidity']<0.5)]).index)

147

__9. Find the most unsuitable attribute that can be used for predicting quality of wine. Give reasons for your choice.__
<br>(2 points)

In [79]:
cm = data.corr()
cm

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.000000,-0.255956,0.667826,0.110904,0.085116,-0.140783,-0.104641,0.670128,-0.686795,0.190255,-0.061249,0.119437
volatile acidity,-0.255956,1.000000,-0.551402,-0.002568,0.054738,-0.020620,0.071200,0.023162,0.247687,-0.256656,-0.196885,-0.394631
citric acid,0.667826,-0.551402,1.000000,0.143850,0.209805,-0.048708,0.048018,0.358471,-0.550844,0.325717,0.104330,0.227396
residual sugar,0.110904,-0.002568,0.143850,1.000000,0.026484,0.160522,0.201603,0.324454,-0.083291,-0.011816,0.063360,0.013626
chlorides,0.085116,0.054738,0.209805,0.026484,1.000000,0.000619,0.045417,0.193158,-0.270564,0.394665,-0.223703,-0.130891
free sulfur dioxide,-0.140783,-0.020620,-0.048708,0.160522,0.000619,1.000000,0.668444,-0.017989,0.056894,0.053880,-0.080512,-0.050827
total sulfur dioxide,-0.104641,0.071200,0.048018,0.201603,0.045417,0.668444,1.000000,0.078257,-0.077350,0.035105,-0.217407,-0.177145
density,0.670128,0.023162,0.358471,0.324454,0.193158,-0.017989,0.078257,1.000000,-0.355968,0.146352,-0.504833,-0.183952
pH,-0.686795,0.247687,-0.550844,-0.083291,-0.270564,0.056894,-0.077350,-0.355968,1.000000,-0.213870,0.213435,-0.055713
sulphates,0.190255,-0.256656,0.325717,-0.011816,0.394665,0.053880,0.035105,0.146352,-0.213870,1.000000,0.091237,0.248612
alcohol,-0.061249,-0.196885,0.104330,0.063360,-0.223703,-0.080512,-0.217407,-0.504833,0.213435,0.091237,1.000000,0.479827
quality,0.119437,-0.394631,0.227396,0.013626,-0.130891,-0.050827,-0.177145,-0.183952,-0.055713,0.248612,0.479827,1.000000

In [81]:
print("Volatile acidity is the most unsuitable attribute for predicting quality due to its least correlation.")

Volatile acidity is the most unsuitable attribute for predicting quality

__10. The pH value is always measured in a scale of 0 to 14. So, we need to bring it to the sclae of 0 to 1 improve perfomance of ML models. Normalize the attribute 'pH'in dataframe keeping in mind that the maximum possible pH value is 14.__
<br>(1 point)

In [84]:
data['pH'] = data['pH']/14

In [85]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.250714,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,0.228571,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,0.232857,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,0.225714,0.58,9.8,6
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,0.250714,0.56,9.4,5